<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= siteTitle %></title>
    <% include ../partials/head %>
    <style>
      *{
        border-radius: 0px !important;
      }
    </style>
  </head>
  <body>
    <% include ../partials/navbar %>
